@import "../../global.scss";

.contact{
    background-color:steelblue;
    display: flex;
    overflow: hidden;

    .left{
        flex: 1
        img{
            height: 100%;
        }
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-around;

        h2{
            font-size: 30px;
            margin-top: 150px;

        }
        form{
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-evenly;

            input{
                width: 300px;
                height: 30px;
                font-size: 14px;
                margin-top: 20px;

                @include mobile{
                    width: 200px;
                    height: 20px;
                }
            }

            textarea{
                width: 300px;
                height: 100px;
                font-size: 14px;
                margin-top: 20px;

                @include mobile{
                    width: 200px;
                }
            }

            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                margin: 20px;
                cursor: pointer;

                &:focus{
                    outline: none;
                }

                &:hover{
                    background-color:firebrick;
                }
            }
            
            span{
                color: green;
            }
        }
    }
}
