@import "../../global.scss";


.intro-container{
    // background: center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    margin: 0 10vw;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    img{
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: -1;
    }

    .desc-container{
        > p{
            margin-top: 200px;
            font-size: 30px;
            font-weight: 500;
            backdrop-filter: blur(3px);
            mix-blend-mode: inherit;

            @include mobile{
                margin-top: 50px;
                font-size: 20px;
            }
        }
    }

    .downWrapper{
        margin-top: 50px;
        position: absolute;
        bottom: 50px;

        .MuiSvgIcon-root{
            color: white;
            width: 50px;
            height: 50px;
        }
    }
    
    button{
        margin-top: 50px;
        padding: 10px 30px 10px 30px;
        background: rgba(52, 52, 52, 0.7);
        outline: none;
        border: none;
        color: white;
        font-weight: 600;
        font-size: 25px;
        transition: 0.5s;
        cursor: pointer;
    }

    button:hover{
        background: rgba(52, 52, 52, 1);
    }
}

.i{
    display: flex;
    height: 100vh;
    position: relative;
}

.i-left{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.i-left-wrapper{
    padding: 50px;
    height: 60%;
    display: flex;
    flex-direction: column;
}

// .i-intro{
//     font-size: 30px;
//     font-weight: 300;
// }

// .i-name{
//     font-size: 30px;
// }

// .i-title{
//     height: 50px;
//     overflow: hidden;
// }

// .i-title-item{
//     height: 50px;
//     font-size: 30px;
//     font-weight: bold;
//     color: darkgreen;
//     display: flex;
//     align-items: center;
// }

// .i-title-wrapper{
//     height: 100%;
//     animation: move 10s ease-in-out infinite alternate;
// }

// @keyframes move {
//     25%{
//         transform: translateY(-50px);
//     }
//     50%{        
//         transform: translateY(-100px);
//     }
//     75%{
//         transform: translateY(-150px);
//     }
//     100%{
//         transform: translateY(-200px);
//     }
// }

// .i-right{
//     flex: 4;
//     overflow: hidden; 
// }

// .i-img{
//     width: 150%;
//     height: 100%;
//     object-fit: fill;
// }
