$mainColor: rgb(55, 95, 26);
$accentColor: rgb(252, 67, 178);

$width: 1000px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
}

@mixin screen{
    @media (min-width: #{$width}){
        @content
    }
}